{% extends "yaml-design.html" %}
{% block title %}Kita-Rezepte - Impressum{% endblock %}
{% block css %}{% include "2col38.html" %}{% endblock css %}
{% block col3 %}
<h1>Impressum</h1>
<p>Diese Internetapplikation dient der Essens- und Kochplanung für unsere 
<a href="http://www.kita-pusteblume.info/">Kindertagesstätte</a>. Die 
Eltern können Rezepte hinterlegen und ausdrucken, 
Menüs planen und Einkaufslisten erstellen. Die Applikation wurde programmiert, 
um diese Arbeit zu vereinfachen.</p>
<p>Die Rezepte stammen von den Eltern der jetzigen und der früheren Kita-Kinder. </p>
<h3>"Some rights reserved"</h3>
<p>Jeder ist eingeladen, die Rezepte in der eigenen Einrichtung zu verwenden. 
Die hier präsentierten Inhalte dürfen auch frei in anderen Veröffentlichungen 
verwandt werden; dann muss aber die Quelle (d.h. diese Internetseite) genannt 
werden und die Inhalte zu den gleichen Bedingungen zur Verfügung gestellt 
werden. Diese Lizenz zur Weitergabe entspricht einer <a rel="license" 
href="http://creativecommons.org/licenses/by-sa/3.0/de/">Creative Commons 
Namensnennung-Weitergabe unter gleichen Bedingungen 3.0 Deutschland Lizenz</a>.
<p>Erstellt wurde die Applikation von Dr. Johannes Ammon, Kempen, der auch 
dafür verantwortlich zeichnet.</p>
<h3>Technik</h3>
<p>Die Webapplikation wurde für die <a 
href="http://code.google.com/intl/de/appengine/">Google App Engine</a> 
programmiert und läuft somit auf der Infrastruktur von Google.</p>
<p>Eine unschätzbare Hilfe bei der Gestaltung der Seiten war das CSS-Framework
<a href="http://www.yaml.de">YAML</a>.</p>
{% endblock col3 %}