{% extends "yaml-design.html" %} 
{% block title %}Kita-Rezepte - Startseite{% endblock %} 
{% block col3 %}
<h1>Kita-Rezepte</h1>
<p>Hier werden die Rezepte und Kochpläne der 
<a href="http://www.kita-pusteblume.info/">Kindertagesstätte
Pusteblume e.V.</a> in Kempen dargestellt und verwaltet.</p>
<p>Wir kochen das Mittagessen für unsere Kinder selbst. Wir kochen
jahreszeitlich orientiert; die Lebensmittel stammen aus kontrolliert
biologischer Landwirtschaft. Gemüse und Milchprodukte werden einmal
wöchentlich von einem Bio-Bauern aus der Region geliefert.
Grundnahrungsmittel werden über einen Bio-Großhandel bezogen.</p>
<h2>Achtung!</h2>
<p>
Aus technischen Gründen musste ich an der Infrastruktur dieser Internetseite etwas ändern.
Wenn alles gut läuft, sollte sich das nicht bemerkbar machen.
Falls doch etwas nicht funktioniert, schickt mir bitte eine Mail: <a href="mailto:johannes.ammon@gmail.com?subject=Kita-Rezepte">johannes.ammon@gmail.com</a>.</p>
{% if not isauthorized %}
<p><a href='{{ loginurl }}'>Anmelden zum Bearbeiten</a></p>
{% endif %} {% endblock col3 %}
