{% extends "yaml-design.html" %}
{% block title %}Kita-Rezepte - {{ rezept.titel }}{% endblock title %}
{% block teaser %}<h1 id="titel">{{ rezept.titel }}</h1>
{% if isauthorized %}<div id='untertitel'>{{ rezept.kommentar }}</div>{% endif %}
<div id='personenzahl'>(Berechnet für <span id='kinder'>{{ kinder }}</span> 
Kinder und <span id='erwachsene'>{{ erwachsene }}</span> Erwachsene.)</div>
{% endblock teaser %}
{% block col1 %}<div id='zutatenliste'><h3>Zutaten</h3>
<table>
{% for name, preis in  zutaten %}<tr><td>{{ name }}</td><td class="noprint">{{ preis }}</td></tr>{% endfor %}
</table></div>
{% endblock col1 %}
{% block col3 %}<h2>Zubereitung</h2><div id='zubereitung'>{{ rezept.zubereitung|safe }}</div>
{% if isauthorized %}{% if rezept.anmerkungen %}<h2>Anmerkungen</h2><div id='anmerkungen'>{{ rezept.anmerkungen|safe }}</div>
{% endif %}{% endif %}
<div>Geeignet als <span id='rezept_gang'>{{ gang }}</span></div>
<div>Kategorie <span id='kategorie'>{{ rezept.kategorie }}</span></div>
<div>Preis dieses Rezepts: <span id='preis'>{{ "%.2f"|format(preis) }}</span> €</div>
{% endblock col3 %}
{% block footer %}{% if isauthorized %}
<a href="/rezepteingabe/{{ rezept.id }}">Rezept bearbeiten</a>{% endif %}
{% if isadmin %}
<a href="/rezeptloeschen/{{ rezept.key() }}">Rezept löschen</a>
{% endif %}
{% endblock footer %}
