{% extends "yaml-design.html" %}
{% block title %}Kita-Rezepte - alle Rezepte anzeigen{% endblock %}
{% block css %}{% include "3col33.html" %}{% endblock css %}
{% block col2 %}
<table><colgroup><col width="80%" valign="top"/><col width="20%" valign="top" align="right"/></colgroup>
{% for k in hauptspeisen %}
    <tr><td colspan="2"><h2>{{ k.kategorie }}</h2></td></tr>
    {% for r in k.rezepte %}
    <tr><td><a href="rezepte/{{ r.id }}">{{ r.titel }}</a></td>
    <td>{% if isauthorized %}{{ r.preisToStr()|safe }}{% endif %}</td></tr>
    {% endfor %}
{% endfor %}
</table>
{% endblock col2 %}
{% block col3 %}
<table><colgroup><col width="80%" valign="top"/><col width="20%" valign="top" align="right"/></colgroup>
{% for k in vornachspeisen %}
    <tr><td colspan="2"><h2>{{ k.kategorie }}</h2></td></tr>
    {% for r in k.rezepte %}
    <tr><td><a href="rezepte/{{ r.id }}">{{ r.titel }}</a></td>
    <td>{% if isauthorized %}{{ r.preis|floatformat:"-2"  }} &euro;{% endif %}</td></tr>
    {% endfor %}
{% endfor %}
</table>
{% endblock col3 %}
{% block col1 %}{% if isauthorized %}
<div><a href="/rezepteingabe">Neues Rezept eingeben</a></div>
{% endif %}
{% endblock col1 %}
